h1 {
    color: plum;
    text-align: center;
  }
  #quiz-start-screen {
    text-align: center;
  }
  .faded {
    text-align: center;
  }
  .answer {
    background: lightgrey;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    color: white;
    max-width: 150px;
    text-align: center;
    margin: 2rem auto;
  }
  #initials{
    box-sizing: border-box;
    text-align: center
   
  }
  h2{
    text-align: center;
    color:plum;
    font-size: 100px;
  }
#quiz{
    text-align: center;
    color: plum;
    font-size: 30px;
}