h1 {
    color: plum;
    text-align: center;
  }
  #quiz-start-screen {
    text-align: center;
  }
  .faded {
    text-align: center;
  }
  .answer {
    background: lightgrey;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    color: white;
    max-width: 300px;
  }
  
