
header {
    background-color: plum;
    text-align: center;
    font-family: 'Pangolin', cursive;
    font-size: 60px;
    border: 2px solid black;
    border-radius: 8px;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
  }
  #quiz-start-screen {
    text-align: center;
  }
  .faded {
    text-align: center;
    background-color:#abc2e8;
    color: black;
    font-size: 25px;
    font-family: 'Pangolin', cursive;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 10px;
    border-style: dotted;
  }
  .answer {
    background: lightgrey;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    color: white;
    max-width: 150px;
    text-align: center;
    margin: 2rem auto;
  }
  #initials{
    box-sizing: border-box;
    text-align: center
   
  }
  h2{
    text-align: center;
    color:lightskyblue;
    font-size: 100px;
  }
#quiz{
    text-align: center;
    color: plum;
    font-size: 30px;
  
}
#quiz-header{
  background-image: url("./images/Pop.png");
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 500px;
  padding-left: 80px;
}
#quiz-start-btn{
background-color:lightgray;
font-size:75px;
font-family: 'Pangolin', cursive;
border: 2px solid white;
border-radius: 8px;
}